<h1 class="display-4 d-flex justify-content-center">shopping cart</h1>
<hr />

<div class="container">
  <div class="d-flex justify-content-between">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Sort By
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Popularity</a></li>
        <li>
          <a class="dropdown-item" (click)="sortByPriceLowToHigh()"
            >Price -- Low to High</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="sortByPriceHighToLow()" href="#"
            >Price -- High to Low</a
          >
        </li>
        <li><a class="dropdown-item" href="#">Newest First</a></li>
      </ul>
    </div>

    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        CUSTOMER RATINGS
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="sortBy4above()" href="#"
            >4★ & above</a
          >
        </li>
        <li><a class="dropdown-item" href="#">3★ & above</a></li>
        <li><a class="dropdown-item" href="#">2★ & above</a></li>
        <li><a class="dropdown-item" href="#">1★ & above</a></li>
      </ul>
    </div>
    <button type="button" (click)="removeItem()">remove filter</button>
  </div>
</div>

<hr />
<div class="container m-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of displayedProducts">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{ product.name }}</h5>
            <h5 class="card-title">{{ product.brand }}</h5>
          </div>
          <p class="card-text">Category: {{ product.category }}</p>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Price: {{ product.price }}</p>
          <p class="card-text">Rating: {{ product.rating }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
